.margin {
  margin-right: 40px;
}

#margintop {
  margin-top: 0;
}

#marginbottom {
  margin-bottom: 0;
}

#center {
  text-align: center;
  margin-top: 270px;
}

#button {
  text-align: center;
  padding: 20px 35px 20px 35px;
  margin: 0 800px 0 650px;
}

#image {
  background-image: url("../img/code1.jpeg");
  background-size: cover;
  height: 700px;
}

#size {
  font-size: 41px;
}

#bottom {
  margin-bottom: 40px;
}

#img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

#services {
  margin-bottom: 40px;
}

h2 {
  color: white;
}

